@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "_layout.cshtml";
}

@* twitter section empty - twitter widget is placed somewhere else on this page, not on standard position from layout *@
@section twitter{}

<div class="banner">
    <h2>Witaj na stronie polskich MVP.</h2>
    <p>Informacje o programie...</p>
    <a target="_blank" href="http://mvp.support.microsoft.com/" class="bannerBtn">Oficjalna strona programu</a>
</div>

<div id="twitter-list"></div>

<div class="clearfix"></div>

<div class="mainBox">
    <a href="@Url.Content("~/lista-mvp")" class="boxItem">
        <h2>Poznaj MVP</h2>
        <img src="@Url.Content("~/assets/img/knowBtn.png")" alt="Poznaj MVP" />
    </a>
    <a href="@Url.Content("o-programie")" class="boxItem">
        <h2>O programie</h2>
        <img src="@Url.Content("~/assets/img/aboutBtn.png")" alt="O programie" />
    </a>
    <a href="@Url.Content("historia")" class="boxItem">
        <h2>Historia</h2>
        <img src="@Url.Content("~/assets/img/historyBtn.png")" alt="Historia" />
    </a>
    <a href="@Url.Content("faq")" class="boxItem">
        <h2>FAQ</h2>
        <img src="@Url.Content("~/assets/img/faqBtn.png")" alt="FAQ" />
    </a>
</div>