@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "_layout.cshtml";
}

@section Title{ Historia programu > }

<div class="historyBox">
@foreach (var year in @Model.AllYears)
{
    <div class="boxItem">
        <h2>@year</h2>
        <div class="boxItemContent">
            @foreach (var month in @Model.MonthsByYear(year))
            {
                <h3>@month.Name</h3>
                <p>Do programu dołączyli</p>
                @foreach (var nomination in @Model.StartedNominations(year, month.Number))
                {
                    <a href="@Url.Content("~/lista-mvp/" + @nomination.Mvp.Slug)">@nomination.Mvp.FirstName
                        @nomination.Mvp.LastName (@nomination.Category)</a>
                }
                <p>Z programu odeszli</p>
                @foreach (var nomination in @Model.FinishedNominations(year, month.Number))
                {
                    <a href="@Url.Content("~/lista-mvp/" + @nomination.Mvp.Slug)">@nomination.Mvp.FirstName
                        @nomination.Mvp.LastName (@nomination.Category)</a>
                }
            }
        </div>
        <div class="clearfix"></div>	
    </div>
}
</div>

@section scripts
{
<script type="text/javascript">
    $(function () {
        $('.boxItem>h2').click(function () {
            $(this).next().slideToggle();
        });
    });    
</script>
}