@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <title>@RenderSection("Title", false)Program Microsoft MVP w Polsce</title>
        <meta name="description" content="Program Microsoft MVP w Polsce: informacje o programie oraz posiadaczach tytułu Microsoft Most Valuable Professional."/>
        <meta name="keywords" content="Microsoft, MVP w Polsce, Most Valuable Professional w Polsce" />
        <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon" />
        <link type="application/rss+xml" rel="alternate" title="RSS polskich MVP" href="http://feeds.feedburner.com/msmvp-pl" />
        <link href="@Url.Content("~/assets/css/styles.css")" rel="stylesheet"></link>
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.pack.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <header>
                <div class="logo">
                    <a target="_blank" href="http://mvp.support.microsoft.com/"><img src="@Url.Content("~/assets/img/logoMvp.png")" alt="logo MVP" /></a>
                </div>
                <nav>
                    <ul>
                        <li><a href="@Url.Content("~/")">Strona główna</a></li>
                        <li><a href="@Url.Content("~/lista-mvp")">Lista polskich MVP</a></li>
                        <li><a href="http://feeds.feedburner.com/msmvp-pl">MVP RSS feed</a></li>
                    </ul>
                </nav>
                <div class="question">
                    <h3>Uwaga! Jesteś / byłeś MVP?</h3>
                    <p>Chciałbyś dodać lub zmienić<br />dane na swój temat? Użyj<br /><a target="_blank" href="http://www.maciejaniserowicz.com/contact.aspx">formularza kontaktowego</a></p>
                </div>
                <div class="title"><h1><a href="@Url.Content("~/")">Microsoft MVP w Polsce</a></h1></div>
                <div class="clearfix"></div>
            </header>
            <div class="content">
                @RenderBody()
                @if (IsSectionDefined("twitter"))
                {
                    RenderSection("twitter");
                }
                else
                { 
                    <div id="twitter-list"></div>
                }
                <div class="clearfix"></div>
            </div>
            <footer>
                <div class="footContent">
                    <p>Hosted on <a href="http://www.webio.pl/" target="_blank">Webio</a>. Powered by <a target="_blank" href="http://nancyfx.org/">NancyFx</a> & <a target="_blank" href="https://github.com/markrendle/Simple.Data">Simple.Data</a>.</p>
                    <p>Created and maintained by <a target="_blank" href="http://www.maciejaniserowicz.com/">Maciej Aniserowicz</a> and <a target="_blank" href="https://github.com/maniserowicz/msmvppl/pulls">Contributors</a>. Layout/design by <a target="_blank" href="http://www.devcore.pl/">DevCore.NET</a>.</p>
                    <p>Sources available on <a target="_blank" href="https://github.com/maniserowicz/msmvppl">GitHub</a>, feel free to contribute!</p>
                </div>
                <a target="_blank" href="http://www.devcore.pl/"><img src="@Url.Content("~/assets/img/devcore.png")" alt="DevCore logo"/></a>
                <a target="_blank" href="http://www.webio.pl/"><img src="@Url.Content("~/assets/img/webio.png")" alt="Webio logo"/></a>
                <div class="clearfix"></div>
            </footer>
        </div>        
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript" charset="utf-8" src="//widgets.twimg.com/j/2/widget.js"></script>
        <script type="text/javascript">
            $(function () {

                var elem = $('#twitter-list'), widget;

                if (elem.length > 0) {

                    $.getJSON('@Url.Content("~/twitter")', function (data) {
                        if (data.Twitter) {
                            widget = new TWTR.Widget({
                                id: 'twitter-list',
                                version: 2,
                                type: 'search',
                                search: data.Twitter,
                                interval: 6500,
                                title: 'Polscy MVP...',
                                subject: '...na Twitterze',
                                width: 220,
                                height: 180,
                                theme: {
                                    shell: {
                                        background: '#00aeef',
                                        color: '#ffffff'
                                    },
                                    tweets: {
                                        background: '#ffffff',
                                        color: '#444444',
                                        links: '#1985b5'
                                    }
                                },
                                features: {
                                    scrollbar: true,
                                    loop: true,
                                    live: true,
                                    behavior: 'default'
                                }
                            });

                            widget.render();
                            widget.start();
                        }
                    });
                }

            });
        </script>
        
        @RenderSection("scripts", false)
    </body>
</html>