@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "_layout.cshtml";
}

@section Title{ Lista polskich MVP > }

<h1>Polscy MVP</h1>

<div class="historyBox">
    <a href="#" id="actualBtn" class="knowItem knowItemSelected">
        <h2>Aktualni MVP</h2>
    </a>
    <a href="#" id="exBtn" class="knowItem">
        <h2>Ex-MVP</h2>
    </a>
    <div class="clearfix"></div>
    <div class="actualMVP">
        @foreach (var group in @Model.Current)
        {
            <div class="categoryItem">@group.Category.ToUpper()</div>
            @foreach (var mvp in @group.Mvps)
            {
                <a href="@Url.Content("~/lista-mvp/" + @mvp.Slug)" class="personItem">@mvp.FirstName @mvp.LastName</a>
            }
        }        
    </div>
    <div class="exMVP">
        @foreach (var group in @Model.Ex)
        {
            <div class="categoryItem">@group.Category.ToUpper()</div>
            @foreach (var mvp in @group.Mvps)
            {
                <a href="@Url.Content("~/lista-mvp/" + @mvp.Slug)" class="personItem">@mvp.FirstName @mvp.LastName</a>
            }
        }        
    </div>
</div>

@section scripts
{
<script type="text/javascript">
    $(function() {
        $('#actualBtn').click(function() {
            $('.exMVP').hide('slow');
            $('.actualMVP').show('slow');
            $('#exBtn').removeClass('knowItemSelected');
            $('#actualBtn').addClass('knowItemSelected');
        });
        $('#exBtn').click(function() {
            $('.actualMVP').hide('slow');
            $('.exMVP').show('slow');
            $('#actualBtn').removeClass('knowItemSelected');
            $('#exBtn').addClass('knowItemSelected');
        });
    });
</script>
}