@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "_layout.cshtml";
}

@section Title{ Lista polskich MVP > }

<h1>Polscy MVP</h1>

<ul class="nav nav-tabs">
    <li class="active"><a href="#mvp-current" data-toggle="tab">Aktualni</a></li>
    <li><a href="#mvp-ex" data-toggle="tab">Ex-MVP</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade in active" id="mvp-current">
        <ul class="nav nav-list">
            @foreach (var group in @Model.Current)
            {
                <li class="nav-header">@group.Category</li>
                @foreach (var mvp in @group.Mvps)
                {
                    <li><a href="@Url.Content("~/lista-mvp/" + @mvp.Slug)">@mvp.FirstName @mvp.LastName</a></li>
                }
            }        
        </ul>
    </div>
    <div class="tab-pane fade" id="mvp-ex">
        <ul class="nav nav-list">
            @foreach (var group in @Model.Ex)
            {
                <li class="nav-header">@group.Category</li>
                @foreach (var mvp in @group.Mvps)
                {
                    <li><a href="@Url.Content("~/lista-mvp/" + @mvp.Slug)">@mvp.FirstName @mvp.LastName</a></li>
                }
            }        
        </ul>
    </div>
</div>

@section twitter
{
    @if(Model.HasTwitter)
    {
                <script>
                    new TWTR.Widget({
                        version: 2,
                        type: 'search',
                        search: '@Model.TwitterSearch',
                        interval: 30000,
                        title: 'Polscy MVP',
                        subject: 'Co ćwierka w trawie?',
                        width: 250,
                        height: 300,
                        theme: {
                            shell: {
                                background: '#8ec1da',
                                color: '#ffffff'
                            },
                            tweets: {
                                background: '#ffffff',
                                color: '#444444',
                                links: '#1985b5'
                            }
                        },
                        features: {
                            scrollbar: false,
                            loop: true,
                            live: true,
                            behavior: 'default'
                        }
                    }).render().start();
        </script>
    }
}