@{
    Layout = "_layout.cshtml";
}

@section Title{ @Model.Name > }

<h1>@Model.Name</h1>

@if (Model.PhotoFile != null)
{
    <p><img src="@Url.Content("~/assets/img/photos/" + @Model.PhotoFile)"/></p>
}

<p>@Html.Raw(@Model.Bio)</p>

<ul class="nav nav-tabs">
    @foreach (var content in @Model.Contents)
    {
        <li @if (content == Model.Contents.First())
            {
                <text>class="active"</text>
            }>
            <a href="#content-@content.Title.Replace(' ', '-')" data-toggle="tab">@content.Title</a>
        </li>
    }
</ul>

<div class="tab-content">
    @foreach (var content in @Model.Contents)
    {
        <div @if (content == Model.Contents.First())
                {
                    <text>class="tab-pane fade in active"</text>
                }
                else
                {
                    <text>class="tab-pane fade"</text>
                } id="content-@content.Title.Replace(' ', '-')">
            @Html.Raw(content.Text)
        </div>
    }
</div>