@{
    Layout = "_layout.cshtml";
}

@section Title{ @Model.Name > }

<h1>@Model.Name</h1>

@if (Model.PhotoFile != null)
{
    <p><img src="@Url.Content("~/assets/img/photos/" + @Model.PhotoFile)"/></p>
}

<p>@Html.Raw(@Model.Bio)</p>

@foreach (var content in @Model.Contents)
{
    <h3>@content.Title</h3>
    <p>@Html.Raw(content.Text)</p>
}